# Entorno virtual
ds_env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Archivos temporales
*.log

# Modelos entrenados
models/*.pkl
models/*.joblib

# Resultados
outputs/*.csv

# Sistema operativo
.DS_Store
Thumbs.db
